// form{
//   width:80%;
//   padding:10px;
//   margin:0 auto;
// }
#form{
  width:80%;
  padding:10px;
  margin:20px auto;
  border: 1px solid #38b6ff;
  border-radius: 20px
}
h4{
  color:#38b6ff;
}
.row{
  padding-top:15px;
}
.btn-pat{
  margin-left: 300px;
  margin-bottom: 10px;
  margin-top:10px;
}