.pres-detail{
  background-color:#fff;
  width:70%;
  margin:0 auto;
  height: auto;
  border-radius: 20px;
  padding:40px;
}

.table-1{
  width: 100%;
}

.table-2{
  margin: 0 auto;
  width:50%;
}
h4{
  text-align: center;
  font-weight: bold;
}
table th{
  text-align:center;
  font-weight: bold;
  font-size:20px;
}
table td img{
  width:70px;
  height:70px
}

.table-3{
  text-align: center
}
