.tb-medicine{
  width:67%;
  margin: 0 auto;
 
}
h4{
  padding-top:10px;
  padding-bottom: 10px;
  color: #38b6ff
}
.pres-form{
  margin:20px auto;
  border:solid 1px #38b6ff;
  width:80%;
  border-radius: 20px;
  font-weight: bold;
}
.btnpres{
  margin-left: 350px;
  margin-bottom: 10px;
  margin-top:10px;
}