.container-managerpatients{
  background-color: #fff;
  width: 90%;
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 20px;
  height: 90%;
}
.manager-patients{
  background-color: #38b6ff;
  width:90%;
  margin: 0 auto;
  height: 100%;
  border-radius: 20px;
}
.box{
  height: 95%;
  padding-top:2%;
}
.control{
  width:200px;
  float: right;
}
h5{
  text-align: center;
  color: #fff;
  text-justify: inter-cluster;
}
nav{
  border-radius: 20px;
}

.avarta{
  width: 100px;
  height: 100px;
  margin: -15px;
}
.page a{
  color: red;
}